.reclaim{
  margin: 4% 13% 0%;
}

.one{
  font-size: 80px;
}

.energy{
  margin-top: 2%;
  font-size:250px;
  line-height: 250px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.sign{
  margin: 2% 13%;
}

.desc{
  line-height: 24px;
}

body{
  position: relative;
}

.detox{
  position:absolute;
  top: 10%;
  opacity: 0.8;
  left: 0;
  right: 0;
  margin-inline: auto;
}